# Ignore node_modules directory
node_modules/

# Ignore environment variables containing secrets
.env

GovtPrep-Project-Documentation.docx
GovtPrep — Forgot & Reset Password.postman_collection.json


front-end/
CLAUDE.md

seed.js
seed-ssc.js

SSC NEW/

seed folder/

docs
